
.menuProg { /* boite qui contient le menu (les onglets) */
  border-bottom:solid 2px #bc5937 ;  /* crée le trait en-dessous des onglets */
  padding-top:12px ; /* marge intérieure haute */
  padding-bottom:0px ; /* marge intérieure basse */
  background-color:white; /* le fond du menu est noir */
}
.onglet { /* style des onglets inactifs */
  text-decoration:none;
  margin : 0px ; /* marge extérieure */
  padding:5px 7px 0px 7px ; /* marge intérieure */
  border-radius: 5px;  /*coin arrondi */
  box-shadow: 1px 1px 2px #666 inset, 0px 0px 1px white, 0px -1px 1px white;
}
a.onglet { /* style des liens se trouvant dans un onglet inactif */
  background-color:#f3f3f3 ; /* le fond de l'onglet est gris clair */
  text-decoration:none ;   /* les liens ne sont pas soulignés */
  color:#333}    /* les liens sont de couleur bleu foncé */

.onglet-actif { /* style de l'onglet de la page active */
   border-bottom:solid 2px white ; /* le trait inférieur est effacé */
   background-color:white ; /* le fond de l'onglet actif est blanc*/
   color:#b95432}   /* le texte est orange */


.seq{
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
}
/*************************************    Partie formulaire ***************/
fieldset#query {
	position:relative;
	margin-top:2em;
	padding:1.5em 0em 2em 2em;
	background: #f3f3f3;
	border:0px;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius:0px 8px 8px 8px;
	width: 920px;
}
fieldset#query li{
	padding:1em 4em 0em 0em;
	display:block;
	float: left;
}
.li-large {			/* Plus d'écart entre les li */
	padding-left: 10em;
}
.li-haut{			/* Plus d'écart avec ligne au-dessus */
	clear:both;
	padding-top:2em;
}
fieldset#query legend{
	font-weight:bold;
	color:#bc5937;
}
fieldset#query label{
	display: block;
	width: 100px;
	float: left;
	font-weight:bold;
}
fieldset#query select{
	display:inline;
	width:70px;
}
#btn-droit{
	float:right;
}
.boutonblast{
	padding: 40px 2px 5px 400px;
}
