/* Les couleurs */
/*	rouge foncé : a70003
	rouge clair : e9dbd5 ou ffcccc
	marron foncé: bdac99
	marron clair: dfd9d2
	base_IS:#ffcccc	ou #42758C (commune)	#6b9bb3 (+clair)	#6699cc(web)
	base_ISSub:#cc6666
	base_ISWait:#cc9999;
	base_ISTrash :#ff6666
	submiters :#9ca8ba
*/
/* initialisation des balises html */
body, h1, h2, h3, p, ul, li, form, input {margin:0; padding:0}
ul, li {list-style:none}     /* Pour enlever les points noirs des listes */

a{text-decoration:none;			/* Pour les liens par defaut */
	color:#a70003}
a:hover{color:#333;
		text-decoration:underline}
a:active{color:green}

	/* les elements texte ou font sont hérités */
	/* donc font par défaut défini à body est vrai pour tous les blocs */
body {font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#333 ;
	background-color:#ccc;
	margin:1px 0px 1px 0px;
	}
h1,h2,h3{font-family: arial, cambria,"times new roman",serif;
	font-weight:normal;			/* enleve le gras */
}				

#page{width:90%;
	margin-left:15px;
	margin-right:auto;
	border:1px solid #aaa;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 5px 10px 10px;
	-moz-box-shadow: #666 5px 10px 10px;
	box-shadow: #666 5px 10px 10px;
	background: #FFF;
	behavior: url(PIE.htc);
	}	
	
/* habillage des zones de ma page */

/* pour le header */
header{padding:0.9em 1em 1.1em 2em;        /* marge intérieure*/
	color:#fff;
	height:54px;
	text-shadow:#999 2px 1px 1px;
	background: url(../images/IS-finder-bandeau-garde-2012.png);
/*	background-repeat: no-repeat;*/
	background-color: #9aafc4;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	behavior: url(PIE.htc);
	}	
h1 {font-family:calibri,verdana, arial, sans-serif;}
header h2{font-size:0.5em;}

/* le nav */
nav{	display:block;
	height: 1em;
	padding:0.8em 1em 1.4em 10em;
	border-bottom:#dfd9d2;
	background: #bdac99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bdac99), to(#dfd9d2));
	background: -webkit-linear-gradient(#bdac99, #dfd9d2);
	background: -moz-linear-gradient(#bdac99, #dfd9d2);
	background: -ms-linear-gradient(#bdac99, #dfd9d2);
	background: -o-linear-gradient(#bdac99, #dfd9d2);
	background: linear-gradient(#bdac99, #dfd9d2);
	-pie-background: linear-gradient(#bdac99, #dfd9d2);
	behavior: url(PIE.htc); 
	}
nav li{
	display:inline;
	background-color:#a70003;
}
nav input{
	background-color:#fff;
	color:#a70003;
}
nav a{padding:0.5em 0.5em;				/* 1er unite pour l'horizontale puis verticale */
	border-right:1px solid #ccc;
	font-weight:bold;
	text-shadow:#999 1px 1px 1px;
	color:#fff;
	}
nav a:hover{text-decoration:none;
		color:#ddd
		}
nav a:active{color:#FB9233}

/* le aside */
aside{float:left;
	padding:1em;
	width:10em;
	font-size:0.8em;
	background: #bdac99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bdac99), to(#dfd9d2));
	background: -webkit-linear-gradient(#bdac99, #dfd9d2);
	background: -moz-linear-gradient(#bdac99, #dfd9d2);
	background: -ms-linear-gradient(#bdac99, #dfd9d2);
	background: -o-linear-gradient(#bdac99, #dfd9d2);
	background: linear-gradient(#bdac99, #dfd9d2);
	-pie-background: linear-gradient(#bdac99, #dfd9d2);
	behavior: url(PIE.htc);
	overflow:hidden;
	}
aside label{
	font-size:1.2em;
}
.erreur{
	padding-top:1em;
	padding-left:10em;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#bc5937;
	font-weight:bold;
}
/* le bloc article */
article{margin:1em 10em 1em 10em;
	padding:0.8em 1em 1em 1em;
	background: #FFFFFF;
	border:0px;
	-webkit-border-radius:0px 8px 8px 8px;
	border-radius:0px 8px 8px 8px;
	width: 1024px;
	}	
article h2{color:#1773BC}
	
article h3{border-top:1px solid #a70003;
	padding-left:0.5em;
	margin-top:0.5em;
	}
article h3:first-letter{font-size:1.5em; font-weight:bold; color:#a70003; text-transform:capitalize}
article h4{
	padding-left:0.5em;
	margin-top:0.5em;
	}	
article h4:first-letter{font-size:1.5em; font-weight:bold; color:#a70003; text-transform:capitalize}
article image{
	top:270px}
.cartouche{padding-bottom:1em}
table{
	border-spacing:2px 2px;
    margin-bottom:10px;
	margin-top:1.5em;	 
	width:95%;
	}
tr{
	background-color:#f3f3f3;
} 
.base_IS {
	padding:0.4em 0.2em 0.2em 0.2em;
	background-color:#6b9bb3;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.base_ISSub {
	padding:0.4em 0.2em 0.2em 0.2em;	
	background-color:#cc6666;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.base_ISSub a{
	color:#fff;
}
.base_ISWait {
	padding:0.4em 0.2em 0.2em 0.2em;
	background-color:#cc9999;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.base_ISWait a{
	color:#fff;
}
.base_ISTrash {
	padding:0.4em 0.2em 0.2em 0.2em;
	background-color:#ff6666;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.base_ISTrash a{
	color:#fff;
}
.blast{
	font-size:1.2em;
}
.submiters {
	padding:0.4em 0.2em 0.2em 0.2em;
	background-color:#9ca8ba;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.base_ISsubmiters {
	padding:0.4em 0.2em 0.2em 0.2em;
	background-color:#9ca8ba;
	margin-right:20px;
	vertical-align:middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:bold;
    color: #000000;
}
.request{
	color:#0066cc;
}
.enteteSection{
	border: 1px #bc5937 solid;
	clear:both;
	width:92%;
	padding-left:2em;
	margin-top:2em;
	margin-bottom:1em;	
}
.piedSection{
	margin:2em 0em 0em 5em;
}
.piedSection li{display:inline;
			font-size:0.8em; 
			padding:0.5em 0.5em;
			border-right:1px solid #ccc;
			}

/* pour le footer */
footer{border-top:1px solid #dfd9d2;	
	text-align:center;
	clear:both;
	height:3em;
	background-color:#dfd9d2;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	-webkit-box-shadow: #330 5px 10px 10px;
	-moz-box-shadow: #330 5px 10px 10px;
	box-shadow: #330 5px 10px 10px;
	background: #dfd9d2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfd9d2), to(#bdac99));
	background: -webkit-linear-gradient(#dfd9d2, #bdac99);
	background: -moz-linear-gradient(#dfd9d2, #bdac99);
	background: -ms-linear-gradient(#dfd9d2, #bdac99);
	background: -o-linear-gradient(#dfd9d2, #bdac99);
	background: linear-gradient(#dfd9d2, #bdac99);
	-pie-background: linear-gradient(#dfd9d2, #bdac99);
	behavior: url(PIE.htc);
	}
footer li{display:inline}					/* Liste du pied de page en ligne  */

/* Accessibilite */
.accessibility{display:none}