@charset "utf-8";
/* CSS Document */
p{
	margin:4px;
	font-weight:normal;
}
fieldset{
	margin-top:2em;
	padding:1.5em 0em 1em 2em;
	background: #f3f3f3;
	border:0px;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius:0px 8px 8px 8px;
	width: 920px;
}
fieldset legend{
	font-weight:bold;
	color:#bc5937;
}
fieldset label{
	width: 140px;
	float: left;
}
fieldset select{
	width:85px;
}
ul.niveau1{
    list-style-type: disc;
	margin-top:5px;
	margin-left:20px;
}
li.niveau1{
    list-style-type: disc;
	font-weight:bold;
	margin-top:5px;
	margin-left:20px;
}
ul.niveau2{
    list-style-type: circle;
	font-weight:normal;
	margin-top:5px;
	margin-left:20px;	
}
li.niveau2{
    list-style-type: circle;
	margin-top:5px;
	margin-left:20px;
}
