td.Xnavhaut, td.Xnavhaut p
          { 
           font-size : 12px;color :#5D8BA2;
           text-align: left;font-weight: bold;}
td.Xnavhaut a:link,
td.Xnavhaut a:visited
          {color :#5D8BA2; text-decoration : none;}
td.Xnavhaut a:hover
          {color :#5D8BA2; text-decoration : none;}          
div.bandeau-liens, div.bandeau-liens a:link, div.bandeau-liens a:visited, div.bandeau-liens a:hover 
         { font-size : 12px; text-align: left; font-weight: bold; color:#5D8BA2; text-decoration:none; }
#divbandeau-lienCNRS { position:absolute;left:488px;top:18px;z-index:1; visibility: visible}
#divbandeau-lienAccueil { position:absolute;left:552px;top:18px;z-index:1; visibility: visible}
#divbandeau-lienAutres { position:absolute;left:641px;top:18px;z-index:1; visibility: visible}
#divbandeau-traitvert1 {position:absolute;left:481px;top:20px;z-index:1;visibility: visible}
#divbandeau-traitvert2 { position:absolute;left:545px;top:20px;z-index:1; visibility: visible}
#divbandeau-traitvert3 { position:absolute;left:633px;top:20px;z-index:1; visibility: visible}
#divnavhaut-nom-labo {
	position:absolute;
	left:95px;
	top:3px;
	z-index:1;
	width:197px;
	;
	height: 59px;
}

div.ZonePrint { margin:10px; }
					
td.Xnavgauche, td.Xnavgauche p, td.XnavgaucheIcones
          {font-size : 11px;}
td.Xnavgauche p
          {margin-top:0px;margin-bottom:0px}    
td.Xnavgauche p.intertitre
          {color: #A5B8C9; font-weight: bold; font-size : 12px;}   
td.Xnavgauche p.intertitre a:link, 
td.Xnavgauche p.intertitre a:visited 
          {color: #5D8BA2; font-weight: bold;  
           text-decoration : none; }
td.Xnavgauche p.intertitre a:hover 
          {color: #286583; font-weight: bold;  
           text-decoration : none; }             
td.XnavgaucheIcones
 		  {vertical-align:bottom; }                         
#divpartenaires {
	       position:absolute;width:150px;
	       z-index:1; left: 0px;top: 65px;visibility: visible;}
#divnavgauche-spec {
	position:absolute;
	left:1px;
	top:464px;
	z-index:1;
	width:150px;
	visibility: visible;
	height: 131px;
}               
#divnavgauche-searchLabo {
	       position:absolute;left:11px;top:560px;z-index:1;
	       width:100px;visibility: visible;}
#divnavgauche-search {
           position:absolute;left:9px;top:584px;z-index:1;
	       width:100px;visibility: visible;}					 
input.BoiteRechercher {
	font-size:10px;
	width:80px;}   
	
#boiterechercher {
	position:absolute;
	left:230px;
	top:8px;
	width:150px;
	z-index:0;
	border-width: 1pt;
} 				

#divXnavdroite{ float : right ;
			    width : 135px;
				padding-left:10px;
				padding-bottom:10px;
}
					
td.Xnavdroite {
	border-bottom-color: #5D8BA2;
	border-bottom-style:solid;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-top-width: 1px;
}

td.Xnavdroite, td.Xnavdroite p
          {font-size : 11px;}  
 
td.Xnavdroite p
          {margin-top : 0px; margin-bottom : 0px}       
             
td.Xnavdroite p.titre
          {font-size : 14px; color: #556268; font-weight: bold; margin-bottom: 0px}
                          		
td.Xscde-navdroite, td.Xscde-navdroite p
         {
	font-size : 11px;
	font-weight:bold;
	color : #A5B8C9;
	} 
                              
td.Xscde-navdroite 
          {
	background-color : #FFFFFF;
	vertical-align : top;
	text-align: left;
	border-bottom-color: #5D8BA2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    border-left-color: #5D8BA2;
	border-left-style: solid;
	border-left-width: 1px;
}
td.Xscde-navdroite p
         { margin:0;}                            
td.Xscde-navdroite  a:link, td.Xscde-navdroite  a:visited  
         {color: #5D8BA2;text-decoration : none;}
td.Xscde-navdroite a:hover
          {color: #286583;text-decoration : none;}          

td.Xchemin
        {color: #556268; vertical-align : middle}        
                          
td.Xchemin a:link, td.Xchemin a:visited
        {color: #556268; text-decoration: none}  
             
td.Xchemin a:hover
        {color: #286583; text-decoration: none}       
     
         
         
      
